.users {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 20px;
}
.button {
	display: block;
	margin: 0 auto;
	padding: 10px 40px;
	border-radius: 5px;

	:hover {
		opacity: 0.8;
	}
}