@import-normalize;

@font-face {
	font-family: "sfns_bold";
	src: url("./fonts/_helveticaneuedeskinterface_bold-webfont.woff2") format("woff2"),
		url("./fonts/_helveticaneuedeskinterface_bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "sfns_regular";
	src: url("./fonts/_helveticaneuedeskinterface_regular-webfont.woff2") format("woff2"),
		url("./fonts/_helveticaneuedeskinterface_regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	font-family: "sfns_regular", "sfns_bold";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

button {
	cursor: pointer;
	font-family: inherit;
	border: none;
}

textarea {
	resize: none;
	font-family: inherit;
}
