.dialogs {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.dialogsItems {
	padding: 10px;
}

.dialogsList {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.dialogsItems .active {
	color: gold
}
