.dialogs {
	margin-bottom: 30px;
	display: flex;
	gap: 30px
}

.dialogsList {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.messages {
	width: 100%;
	overflow: scroll;
	border: solid 1px #000;
}

.messagesList {
	max-height: 300px;
	padding: 20px;
	display: flex;
	align-items: end;
	flex-direction: column;
	gap: 40px;
	
}

.form {
	display: flex;
	flex-direction: column;
}

.textarea {
	margin-bottom: 20px;
	width: 100%;
	min-height: 15px;

	font-size: 18px;
}

.button {
	align-self: end;
	width: 200px;
	padding: 15px 10px;
	background-color: #0866ff;
	border-radius: 5px;
	border: 1px solid;
	color: #fff;
	font-size: 16px;

	&:hover {
		opacity: 0.8;
	}
}
